<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waizcode</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      background-color: #292F36;
    }
    h1 {
      color: #17C3B2;
      margin-top: 50px;
    }
    p {
      color: #FFFFFF;
      margin-top: 20px;
    }
    i {
        color: #F17300;
    }
  </style>
  <body>
    <h1>Plataforma de avaliação de código <i>Waizcode</i></h1>
    <p>
        <i>Waizcode</i> é uma plataforma de avaliação de código que permite a avaliação de código de forma automática.
    </p>
  </body>
</html>
