body {
  font-family: Arial, sans-serif;
  background-color: #292F36;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#editor {
  caret-color: white;
  font-size: 1em;
}

#editor textarea::selection {
  background: #17C3B2;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
}

.question-info {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #dddddd16;
  overflow-y: auto;
  color: #fff;
}

.question-info h2 {
  color: #17C3B2;
}

.answer-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.answer-section form {
  display: flex;
  flex-direction: column;
}

.answer-section button {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.answer-section button:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.answer-section #submit {
  background-color: #17C3B2;
}

.answer-section #reset {
  background-color: #EE4266;
}

.answer-section .code {
  height: 100%
}

.answer-section .actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
  height: auto;
}

/* Breakpoints */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row; 
  }

  .answer-section {
    padding-left: 20px;
  }

  .answer-section div {
    height: calc(100% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-bottom: 50px; 
  }

  .answer-section {
    width: 95%;
    margin: 0 auto;
    align-self: center;
  }
}
