<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avaliação não encontrada</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      background-color: #292F36;
    }
    h1 {
      color: #EE4266;
      margin-top: 50px;
    }
    p {
      color: #FFFFFF;
      margin-top: 20px;
    }
  </style>
  <body>
    <h1>Avaliação não encontrada</h1>
    <p>
        A avaliação que você está tentando acessar não foi encontrada.
    </p>
  </body>
</html>
