{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static '/css/questions/index.css' %}" />
  <title>Questão - Enviar resposta</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet">
  <style>
    #editor code[contenteditable] {
      caret-color: black !important;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="question-info">
      <h2>Questão: {{ question.title }}</h2>
      {{ question.content|safe }}
    </div>
    <section class="answer-section">
      <code-bedder id="editor" data-language="js" onhighlight="Prism.highlightElement(this)" style="width: 100%"></code-bedder>
    </section>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
  <script src="codebedder.js"></script>
</body>

</html>